RESEND_API_KEY=
CONTACT_TO_EMAIL=iskander@mikianeli.com
CONTACT_FROM_EMAIL=
NEXT_PUBLIC_SITE_URL=https://mikianeli.com
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GA4_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_GOOGLE_ADS_ID=
